@using LuckyForm.Models
@{
    Layout = null;
    string[] MONTHS = { "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" };
    SessionUser sessionUser = Session["user"] as SessionUser;


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>masterPageHome</title>
    <link href="~/content/css/master_pages_css/masterPageHome.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/content/js/plugins/jquery.validate.min.js"></script>
    <script src="~/content/js/master_page.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    @if (this.ViewBag.isUserExistSignup == true || this.ViewBag.isOverEigtheen == false || this.ViewBag.isUserAuthenticated == false)
    {
        <style>
            #modal-wrapper {
                display: block;
            }
        </style>
    }
</head>
<body>
    <div class="menu" id="menu">
        <div class="content">
            <ul>

                <li>
                    <a class="menu_section" href="/Home/ContactUs">
                        Contact Us
                        <i class="far fa-envelope-open"></i>
                    </a>

                </li>
                @if (sessionUser != null)
                {
                    <li>
                        <a class="menu_section" href="/Users/Logout">
                            Logout
                            <i class="fas fa-user"></i>
                        </a>
                    </li>


                    <li>
                        <a class="menu_section" href="/Order/Cart">
                            Cart
                            <i class="fas fa-shopping-cart"></i>
                        </a>

                    </li>
                }
                <li class="dropdown">
                    <a class="menu_section" href="#">
                        Game Option
                        <i class="fas fa-location-arrow"></i>
                    </a>
                    <div class="dropdown-option">
                        <a href="#">Play Now</a>
                        @if (sessionUser != null)
                        {
                            if (sessionUser.PermissionType == "2")
                            {
                                <a href="/Home/UpdateBetsResults">Update Bets Results</a>
                            }                            
                            <a href="/Order/GetAllPaidOrdersOffuser">Paid Orders</a>

                        }
                        <a href="/Home/GetDeals">Deals</a>
                        <a href="#">Sub-3</a>
                        <a href="#">Sub-4</a>
                    </div>
                </li>

                <li>
                    <a class="menu_section" href="/Home/MainPageView">
                        Home
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                @if (sessionUser != null)
                {
                    <li>
                        <a class="menu_section user_name" href="/Users/PersonalArea">
                            !Welcome, <i class="fas fa-user"></i> @sessionUser.FirstName @sessionUser.LastName

                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a class="menu_section" onclick="document.getElementById('modal-wrapper').style.display='block'">
                            Register
                            <i class="fas fa-user"></i>
                        </a>
                    </li>
                    <li>
                        <a class="menu_section" onclick="document.getElementById('modal-wrapper').style.display='block'">
                            Login
                            <i class="fas fa-lock"></i>
                        </a>

                    </li>
                }

            </ul>
        </div>
    </div>
    <div class="Wrapper">

        <ul id="social-icon">

            <li id="headLiveSupport">
                <a href="#" class="support">
                    <i class="fas fa-phone" id="phone"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com" class="facebook" title="Visit us on Facebook">
                    <i class="fab fa-facebook" id="facebook"></i>
                </a>
            </li>
            <li>
                <a href="http://www.twitter.com" class="twitter" title="Visit us on Twitter">
                    <i class="fab fa-twitter" id="twitter"></i>
                </a>
            </li>
        </ul>
        <div class="main">
            <div id="modal-wrapper" class="modal">

                <div class="modal-content animate">
                    <form id="verified_form_sign_up" class="sign-up" method="post" action="/Users/SignUp">
                        <div class="modal-header">SIGN UP</div>
                        <div class="sign_up_block">


                            <div class="row">
                                <label>YOUR PERSONAL INFORMATION</label>
                                <select class="custom-select" name="gender">
                                    <option value="">Title</option>
                                    <option value="Mr">Mr</option>
                                    <option value="Mrs">Ms</option>
                                </select>
                                <span class="icon form-group-icon">
                                    <i class="fa fa-user"></i>
                                </span>
                                <input class="first_name form-group" type="text" placeholder="First name" name="first_name" required>
                            </div>
                            <div class="last_name row">
                                <span class="icon form-group-icon">
                                    <i class="fa fa-user"></i>
                                </span>
                                <input class="form-group" type="text" placeholder="Last name" name="last_name" required>
                            </div>
                            <div class="email row">
                                <span class="icon form-group-icon">
                                    <i class="far fa-envelope"></i>
                                </span>
                                <input type="text" class="form-group" placeholder="Email" name="email" required>
                                @if (this.ViewBag.isUserExistSignup == true)
                                {
                                    <label id="email-error" class="error" for="email">Your email address has already been registered.</label>
                                }
                            </div>

                            <div class="date row">
                                <label>DATE OF BIRTH</label>
                                <select class="custom-select form-group" name="select_year" required>
                                    @for (int year = int.Parse(DateTime.Now.Year.ToString()); year >= 1900; year--)
                                    {
                                        <option value="@year">@year</option>
                                    }
                                </select>
                                <select class="custom-select form-group" name="select_month" required>
                                    @for (int month = 1; month <= 12; month++)
                                    {
                                        <option value="@month">@MONTHS[month - 1]</option>
                                    }
                                </select>
                                <select class="custom-select form-group" name="select_day" required>

                                    @for (int day = 1; day <= 31; day++)
                                    {
                                        <option value="@day">@day</option>
                                    }
                                </select>
                                @if (this.ViewBag.isOverEigtheen == false)
                                {
                                    <label id="age-error" class="error" for="age">You must be over the age of 18 to register and play.</label>
                                }
                            </div>
                            <div class="row">
                                <label>YOUR PASSWORD</label>
                                <span class="icon form-group-icon">
                                    <i class="fa fa-lock"></i>
                                </span>
                                <input class="password form-group" id="psw-signup" type="password" placeholder="Password" name="password" required>
                                <span onclick="ShowPass('psw-signup')" class="show_pass" title="Show Password"><i class="far fa-eye"></i></span>
                            </div>
                            <script>
                                function ShowPass(id) {
                                    var x = document.getElementById(id);
                                    if (x.type === "password") {
                                        x.type = "text";
                                    } else {
                                        x.type = "password";
                                    }
                                }
                            </script>

                            <div class="row">
                                <label>CONTACT NUMBER</label>
                                <span class="icon form-group-icon">
                                    <i class="fa fa-phone"></i>
                                </span>
                                <input type="text" class="form-group" placeholder="Mobile number" name="mobile_number" required>
                            </div>
                            <div class="loading">
                                <img src="~/content/Images/Home/wait.gif" />
                            </div>
                            <button class="sign_up_button submit_button" type="submit">Crate Account</button>
                        </div>

                    </form>
                    <form id="verified_form_login" class="login" method="post" action="/Users/login">
                        <div class="modal-header">ALREADY A MEMBER</div>
                        <div class="login_block">

                            <div class="email row">
                                <label>YOUR EMAIL</label>
                                <span class="icon form-group-icon">
                                    <i class="far fa-envelope"></i>
                                </span>
                                <input type="text" class="form-group" placeholder="Email" name="email" required>
                            </div>
                            <div class="row">
                                <label>YOUR PASSWORD</label>
                                <span class="icon">
                                    <i class="fa fa-lock"></i>
                                </span>
                                <input class="password form-group" id="psw-login" type="password" placeholder="Password" name="password">
                                <span onclick="ShowPass('psw-login')" class="show_pass" title="Show Password"><i class="far fa-eye"></i></span>
                                @if (ViewBag.isUserAuthenticated == false)
                                {
                                    <label class="error" for="email">Invalid ID or password.Please try again..</label>
                                }
                            </div>
                            <div class="loading">
                                <img src="~/content/Images/Home/wait.gif" />
                            </div>
                            <button class="login_button submit_button" type="submit">Login</button>
                            <a href="#" style="text-decoration:none; float:right; margin-right:34px; margin-top:26px;">Forgot Password ?</a>
                        </div>

                    </form>
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
                    </div>
                </div>
            </div>
            @RenderBody()
        </div>
        <div>
        </div>
    </div>
    <footer>
        <div class="web_details">
            <div class="content">
                <div class="site_map">
                    <h4>Site Map</h4>
                    <ul class="list">
                        <li><a rel="nofollow" href="/en/about-playusalotteries.html">About us</a></li>
                        <li><a title="Play lottery online and win the lottery on the internet" href="/">USA Lottery online</a></li>
                        <li><a title="Learn how to play the lottery online" href="/en/how-to-play-the-lottery.html">How to play USA Lotteries on the internet</a></li>
                        <li><a title="Play the lottery on the internet" href="/en/play-the-lottery.html">Play American lotteries online</a></li>
                        <li><a title="Results of online lottery numbers" href="/en/lotto-results-and-winning-numbers.html">USA lottery results</a></li>
                        <li><a title="Best tips for playing and winning the lottery online" href="/en/lottery-news.html">American lottery news</a></li>
                        <li><a title="Payment options" href="/en/payment.html">Payment options</a></li>
                        <li><a title="Mobile site" href="http://mobile.playusalotteries.com">Mobile site</a></li>
                        <li><a target="_blank" href="http://www.lottarewards.com/en/home">Become an affiliate</a></li>
                        <li><a rel="nofollow" href="/en/lottery-horoscope.html">Lottery horoscope</a></li>

                    </ul>
                </div>
                <div class="lotteries">
                    <h4>Lotteries</h4>
                    <ul class="list">
                        <li>
                            <a title="Play El Gordo Lottery online, buy ElGordo lotto tickets at PlayUSAlotteries.com" href="/en/play-the-lottery/play-el-gordo.html">El Gordo</a>
                        </li>
                        <li>
                            <a title="Play the EuroJackpot Lottery online, buy Euro Jackpot lotto tickets at PlayUSAlotteries.com" href="/en/play-the-lottery/the-euro-jackpot-lottery.html">EuroJackpot</a>
                        </li>
                        <li>
                            <a title="Buy EuroMillions Lottery tickets online at PlayUSAlotteries.com, play the Euro Millions lottery" href="/en/play-the-lottery/the-euromillions-lottery.html">EuroMillions</a>
                        </li>
                        <li>
                            <a title="Play France Loto Lottery online, buy France Lotto tickers at PlayUSAlotteries.com" href="/en/play-the-lottery/play-france-loto.html">France Loto</a>
                        </li>
                        <li>
                            <a title="Play SuperEnaLotto online, buy Super Ena Lotto Italian lottery tickets at PlayUSAlotteries.com" href="/en/play-the-lottery/the-superenalotto-lottery.html">SuperEnaLotto</a>
                        </li>
                        <li>
                            <a title="Play the SuperEna Max lottery online, buy SuperEna Max lotto tickets at PlayUSAlotteries.com" href="/en/play-the-lottery/the-superena-max.html">SuperEna Max</a>
                        </li>
                    </ul>
                </div>
                <div class="pay_and_lic">
                    <h4>Payment Methods</h4>
                    <ul class="pay_methods">
                        <li><img alt="Visa" src="https://www.playusalotteries.com/images/financial/phl_visa.svg"></li>
                        <li><img alt="Visa" src="https://www.playusalotteries.com/images/financial/phl_mastercard.svg"></li>
                        <!--DB table methods and show table-->
                    </ul>
                    <h4>Licence</h4>
                    <img style="width:90px; " src="https://booongo.com/static/img/certificate/curacao-logo.png" />
                </div>

            </div>
        </div>
        <div class="rights">
            <div class="content">
                <p>
                    <a rel="nofollow" title="Terms and conditions" href="/en/terms.html">Terms and conditions</a>            	 | <a rel="nofollow" title="Please read our privacy policy" href="/en/privacy-policy.html">Privacy policy</a>                <br>
                    This website is owned and operated by Secure View Services Limited, of 3rd Floor, Methonis Tower 73, Archbishop Makarios Avenue, 2082, Nicosia, Cyprus using the Curacao gaming license (No: 8048/JAZ) of its holding company Play UK Internet N.V.
                </p>
                <p> </p>
                <p> © 2019 Play UK Internet N.V</p>
            </div>

        </div>

    </footer>


</body>
</html>
