@using LuckyForm.Models
@{
    Layout = "~/Views/Master_pages/masterPageHome.cshtml";
}
@model Order
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/content/css/Order/Cart.css" rel="stylesheet" />
    <title>Cart</title>
</head>
<body>
    <div class="cart_wrapper">
        <div class="products">
            <div class="head">
                <h1><b>YOUR CART ( @ViewBag.ProductsCount )</b></h1>
            </div>

            <div class="products-Wrapper">
                @if (Model != null)
                {
                    foreach (OrderDetails det in Model.Orders)
                    {

                        <div class="product">

                            <img src="~/content/Images/Home/logos/@det.Form.ImagePath" />
                            <div class="product_details">
                                <span><b>Form Name:</b> @det.Form.Name</span><br />
                                <span><b>Price:</b> @det.Price₪</span><br />
                                <span><b>Date:</b> @det.Date.ToShortDateString()</span><br />
                                <div class="buttons">
                                    <a href="~/Order/RemoveFormByID?id=@det.ID" class="remove_form_button">REMOVE</a>
                                    <a href="~/Order/ViewFormByID?detId=@det.ID&formId=@det.Form.ID" class="view_form_button"><b>VIEW</b></a>
                                </div>
                            </div>



                        </div>

                    }
                }
                else{ 
                    <div class="product">

                    </div>
                }
            </div>
        </div>
        <div class="summary">
            <div>
                <p class="head">SUMMARY</p>
            </div>
            <div class="total">
                <p>Total</p> <p class="sum">@ViewBag.Sum₪</p>
            </div>
            <div>
                <button href="#">CHECKOUT</button>
            </div>
        </div>

    </div>

</body>
</html>
