@using LuckyForm.Models
@{
    Layout = "~/Views/Master_pages/masterPageHome.cshtml";
}
@model User
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PersonalArea</title>
    <link href="~/content/css/Users/PersonalArea.css" rel="stylesheet" />
</head>
<body>
    <div class="personal_wrapper"> 
        <p class="head_personal">Personal Area</p>
        <p class="personal_details">@Model.Sex @Model.FirstName @Model.LastName</p>
        <p class="personal_details">@Model.Email</p>
        <p class="personal_details">@Model.PhoneNumber</p>
        
    </div>
</body>
</html>
