@using LuckyForm.Models
@{
    Layout = "~/Views/Master_pages/masterPageHome.cshtml";
}
@model User

<link href="~/content/css/Users/PersonalArea.css" rel="stylesheet" />

<div class="personal_wrapper">
    
    <div class="personal_details_wrapper">

        <span class="head_personal underline">Personal Area</span>
        <p class="personal_details">Hello @Model.FirstName, Here you can see your personal details</p>
        <p class="personal_details"><b>Name:</b> @Model.FirstName @Model.LastName</p>
        <p class="personal_details"><b>Email:</b> @Model.Email</p>
        <p class="personal_details"><b>Contact Number:</b> @Model.PhoneNumber</p>
    </div>
</div>